# Tuple Based Practice Problem:

1. Create a tuple with integers from 1 to 5.

In [4]:
t=(1,2,3,4,5)

print(t)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [5]:
tuple1=('nag','sen',1,2,3,4,4,4,'data')

# Access third element

print(tuple1[3])

2

3. Find the length of a tuple without using the 'len()' function.

In [8]:
def find_tuple_length(tuple2):
    length=0
    
    for i in tuple2:
        length+=1
    return length

tuple2=(2,3,4,5,6,'nag','sen','data')
length=find_tuple_length(tuple2)
print('The length of tuple is:')
print(length)

The length of tuple is:
8

4. Count the occurrences of an element in a tuple.

In [10]:
tuple3=(1,2,3,7,8,9,4,5,4,3,5,7,8,4,4,44,4)
print('The occurrences of an element is:')
tuple3.count(4)

The occurrences of an element is:

5

5. Find the index of the first occurrence of an element in a tuple.

In [16]:
tuple4=(1,2,3,7,8,9,4,5,4,3,5,7,8,4,4,44,2,3,)
 
element_to_find=4
index=tuple4.index(element_to_find)
print('The index of the first occurrence of element is:')
print(index)

The index of the first occurrence of element is:
6

6. Check if an element exists in a tuple.

In [28]:
tuple5=(1,2,3,4,'full','stack','pro','ai')

element='pro'
for i in tuple5:
    if element in tuple5:
        print(f"The element '{element}' present in the tuple.")
        break
        
    else:
        print(f"The element '{element}' not present in the tuple.")
        break

The element 'pro' present in the tuple.

7. Convert a list to a tuple.

In [29]:
lst=[1,2,3,4,5,'nag','sen','data','science']

tuple(lst)

(1, 2, 3, 4, 5, 'nag', 'sen', 'data', 'science')

8. Convert a tuple to a list.

In [1]:
tuple7=(1,5,4,7,9,8,3,'pro')

list(tuple7)

[1, 5, 4, 7, 9, 8, 3, 'pro']

9. Unpack the elements of a tuple into variables.

In [2]:
tuple88=(1,2,4,6,'data','science','pro')

# Unpack the elements into variables
a,b,c,d,e,f,g=tuple88

print(f"a:{a}, b:{b}, c:{c}, d:{d}, e:{e}, f:{f}, g:{g}")

a:1, b:2, c:4, d:6, e:data, f:science, g:pro

10. Create a tuple of even numbers from 1 to 10.

In [7]:
# Use list-comprehension and then convert it into tuple

even_numbers=tuple(i for i in range(1,11) if i%2==0)
print('The even numbers:')
print(even_numbers)

The even numbers:
(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [9]:
# Use list-comprehension and then convert it into tuple

odd_numbers=tuple(x for x in range(1,11) if x%2!=0)
print('odd numbers:',odd_numbers)

odd numbers: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [10]:
tuple1=(1,2,3,4,'nag')
tuple2=(7,8,9,'sen')

concatenate=tuple1+tuple2

print(concatenate)

(1, 2, 3, 4, 'nag', 7, 8, 9, 'sen')

13. Repeat a tuple three times.

In [13]:
tuple8=(1,2,3,8,7,0)

repeat_tuple=tuple8*3

print(repeat_tuple)

(1, 2, 3, 8, 7, 0, 1, 2, 3, 8, 7, 0, 1, 2, 3, 8, 7, 0)

14. Check if a tuple is empty.

In [1]:
tuple9=()

if not tuple9:
    print('The tuple is empty.')
else:
    print('The tuple is not empty.')

The tuple is empty.

15. Create a nested tuple.

In [9]:
nested_tuple=(3,4,(1,2,3,),5,7,8, (4,5,6),9,0, (7,8,9),5,6,1)

print(nested_tuple)

(3, 4, (1, 2, 3), 5, 7, 8, (4, 5, 6), 9, 0, (7, 8, 9), 5, 6, 1)

16. Access the first element of a nested tuple.

In [14]:
tuple99=((2,3,4),(5,6,7),(1,0,9,4))

print(tuple99[0][0])

2

17. Create a tuple with a single element.

In [15]:
tuple0=('single')
print(tuple0)

single

18. Compare two tuples.

In [14]:
tuple1=(1,2,3,8,9,88)
tuple2=(1,2,3,30)

if tuple1>tuple2:
    print('Tuple1 is greater than Tuple2.')
elif tuple1<tuple2:
    print('tuple1 is less than tuple2.')
    
else:
    print('Tuples are equal.')

tuple1 is less than tuple2.

19. Delete a tuple.

In [24]:
tuple7=(5,6,7,7)
del tuple7

# it will delete from memory and cannot be recovery

20. Slice a tuple.

In [28]:
tuple77=(3,4,5,5,6,7,'nag','sen',8,9)

slice_tuple=tuple77[5:]

print(slice_tuple)

(7, 'nag', 'sen', 8, 9)

21. Find the maximum value in a tuple.

In [30]:
tuple99=(2,3,4,5)

maximum=max(tuple99)
print(maximum)

5

22. Find the minimum value in a tuple.

In [31]:
tuple7=(98,8,7,5,4,3)

minimum=min(tuple7)
print(minimum)

3

23. Convert a string to a tuple of characters.

In [35]:
string='full stack data science'

char=tuple(string)
print('Tuple of characters:')
print(char)

Tuple of characters:
('f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

24. Convert a tuple of characters to a string.

In [38]:
char_tuple=('f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

string=''.join(char_tuple)
print(string)

full stack data science

25. Create a tuple from multiple data types.

In [40]:
multi_type_tuple=(2,3,4,'nag','sen',True,False,5.6,8.4,[4,5],{4,5,6,},{'a':4,'c':2,})
print('The multiple data types tuple:')
print(multi_type_tuple)

The multiple data types tuple:
(2, 3, 4, 'nag', 'sen', True, False, 5.6, 8.4, [4, 5], {4, 5, 6}, {'a': 4, 'c': 2})

26. Check if two tuples are identical.

In [52]:
tuple4=(3,4,5,6,7)
tuple8=(3,4,5,6,7)

# Use '==' equality operator to check equality
if tuple4==tuple8:
    print('tuples are identical.')
else:
    print('tuples are not identical.')

tuples are identical.

27. Sort the elements of a tuple.

In [69]:
tuple99=(5,6,3,2,6,7,8)
# We cannot directly sort elements in tuple cause tuple are immutable
# Use sorted function to create sorted list of elements in tuple 
sorted_list=sorted(tuple99)
# Convert it back into the tuple 
sorted_tuple=tuple(sorted_list)
print('The sorted elements of the tuple:')
print(sorted_tuple)

The sorted elements of the tuple:
(2, 3, 5, 6, 6, 7, 8)

28. Convert a tuple of integers to a tuple of strings.

In [70]:
int_tuple77=(2,3,4,5,6,7,8)

# Use tuple comprehension (generator expression) to convert integers into string.

str_tuple=tuple(str(item) for item in int_tuple77)

print('Tuple of string:')
print(str_tuple)

Tuple of string:
('2', '3', '4', '5', '6', '7', '8')

29. Convert a tuple of strings to a tuple of integers.

In [75]:
tuple44=('1','5','7','9')

# Use tuple comprehension (generator expression)

int_tuple=tuple(int(i)for i in tuple44)
print('The tuple of integers is:',int_tuple)

The tuple of integers is: (1, 5, 7, 9)

30. Merge two tuples.

In [78]:
tuple1=(1,2,3,4,5)
tuple2=(5,6,7,8,9)

merged_tuple=tuple1+tuple2
print('Merged tuples are:')
print(merged_tuple)

Merged tuples are:
(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

31. Flatten a nested tuple.

In [94]:
def flatten_tuple(nested_tuple):
    flat_list=[]
    for item in nested_tuple:
        if isinstance(item,tuple):
            # If the item is tuple, recursively flatten it
            
            flat_list.extend(flatten_tuple(item))
            
        else:
            # If the item is not a tuple, add it to the flat list
            
            flat_list.append(item)
            
    return tuple(flat_list)

nested_tuple=(1,2,3,(3,4,5),6,(7,8,9),9,0)

result=flatten_tuple(nested_tuple)

print('The flattened tuple is:')
print(result)

The flattened tuple is:
(1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9, 0)

32. Create a tuple of the first 5 prime numbers.

In [3]:
def generate_primes(count):       
    prime_list=[]
    num=2
    while len(prime_list)<count:
        is_prime=True
        for i in range(2,int(num**0.5) +1):
            if num%i==0:
                is_prime=False
                break
        if is_prime:
            prime_list.append(num)
            
        num+=1
    return tuple(prime_list)

# Call the function to generate a tuple of the first 5 prime numbers
first_5_primes=generate_primes(5)
print(first_5_primes)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [14]:
def is_palindrome(tuple4):
    
    reverse_tuple=tuple4[::-1]
    return reverse_tuple

tuple4=(1,2,3,4,3,2,1)

reverse_tuple=is_palindrome(tuple4)

if reverse_tuple==tuple4:
    print('The tuple is palindrome.')
else:
    print('The tuple is not palindrome.')

The tuple is palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [18]:
def square_tuple(n):
    list_tuple=[]
    
    for i in range(1,6):
        i=i**2
        list_tuple.append(i)
        
    return list_tuple

n=range(1,6)
list_tuple=square_tuple(n)
result=tuple(list_tuple)

print('The tuple of squares of numbers is:',result)

The tuple of squares of numbers is: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [3]:
def filter_even_num(t):
    # Use list comprehension to filter out even numbers
    filtered_list=[i for i in t if i%2!=0]
    return tuple(filtered_list)

t=(2,3,4,5,6,8,7,8,9,0,6,5,3,3,2)

filtered_tuple=filter_even_num(t)

print(filtered_tuple)

(3, 5, 7, 9, 5, 3, 3)

36. Multiply all elements in a tuple by 2.

In [16]:
tuple9=(2,3,4,5,6,7,6)
list_tuple=[]
for i in tuple9:
    i=i*2
    list_tuple.append(i)
    

new_tuple=tuple(list_tuple)
print(new_tuple)

(4, 6, 8, 10, 12, 14, 12)

37. Create a tuple of random numbers.

In [22]:
import random

random_numbers=tuple(random.randint(1,100) for _ in range(10))

print(random_numbers)

(33, 66, 41, 23, 6, 33, 58, 74, 85, 26)

38. Check if a tuple is sorted.

In [28]:
def is_sorted_tuple(input_tuple):
    # Compare the original tuple to a sorted version of itself
    # check for the asscending order
    return input_tuple==tuple(sorted(input_tuple))

input_tuple=(2,3,4,5,6,7,8)

if is_sorted_tuple(input_tuple):
    print('The tuple is sorted.')
else:
    print('The tuple is not sorted.')

The tuple is sorted.

39. Rotate a tuple to the left by 'n' positions.

In [40]:
def rotate_tuple_left(input_tuple,n):
    if len(input_tuple)==0:
        return input_tuple
    
    n=n%len(input_tuple) # Ensure n is within the range of the tuple's length
    rotated_tuple=input_tuple[n:]+input_tuple[:n]
    return rotated_tuple

input_tuple=(1,2,3,4,5,6,7,8,9)
n=3

rotated=rotate_tuple_left(input_tuple,n)
print(rotated)

(4, 5, 6, 7, 8, 9, 1, 2, 3)

40. Rotate a tuple to the right by 'n' positions.

In [46]:
def rotate_tuple_right(input_tuple,n):
    if len(input_tuple)==0:
        return input_tuple
    n=n%len(input_tuple) # Insure that the n is within the range of tuple length
    return input_tuple[-n:] + input_tuple[:-n]
    
input_tuple=(1,2,3,4,5,6,7,8,9)
n=11
rotated=rotate_tuple_right(input_tuple,n)
print(rotated)

(8, 9, 1, 2, 3, 4, 5, 6, 7)

41. Create a tuple of the first 5 Fibonacci numbers.

In [2]:
def generate_fibonacci(n):
    fibonacci_sequence=[0,1] # Initialize the sequence with the first two Fibonacci numbers.
    
    while len(fibonacci_sequence)<n:
        next_number=fibonacci_sequence[-1] + fibonacci_sequence[-2]
        fibonacci_sequence.append(next_number)
    return tuple(fibonacci_sequence)

# Generate the first 5 fibonacci numbers
n=5
first_5_fibonacci=generate_fibonacci(n)


print(first_5_fibonacci)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [5]:
# Initialize an empty list to store user inputs

user_inputs=[]

# Ask the user for input and append them to the list

n=int(input('Enter the number of elements in the tuple:'))

for i in range(n):
      user_value=input(f'enter element {i+1}:')
      
      user_inputs.append(user_value)
      
# Create a tuple from the user inputs
user_tuple=tuple(user_inputs)

# Print the resulting tuple
print("User's Tuple:", user_tuple)

Enter the number of elements in the tuple: 15
enter element 1: 5
enter element 2: 7
enter element 3: 8
enter element 4: 3
enter element 5: 6
enter element 6: 9
enter element 7: 9
enter element 8: 3
enter element 9: 2
enter element 10: 6
enter element 11: 6
enter element 12: 7
enter element 13: 9
enter element 14: 6
enter element 15: 5

User's Tuple: ('5', '7', '8', '3', '6', '9', '9', '3', '2', '6', '6', '7', '9', '6', '5')

43. Swap two elements in a tuple.

In [20]:
def swap_tuple(input_tuple,index1,index2):
    #As tuple is immutable we cannot swap elements in it directly
    mutable_list=list(input_tuple)
    
    # Swaping the elements in list
    mutable_list[index1],mutable_list[index2]=mutable_list[index2],mutable_list[index1]
    
    # Convert list back to a tuple
    swapped_tuple=tuple(mutable_list)
    return swapped_tuple

my_tuple=(1,2,3,4,5,6,7,8,9)
index1=4
index2=7
result_tuple=swap_tuple(my_tuple,index1,index2)
print(result_tuple)

(1, 2, 3, 4, 8, 6, 7, 5, 9)

44. Reverse the elements of a tuple.

In [21]:
def reverse_tuple_elements(input_tuple):
    # As tuple is immutable convert it to list
    tuple_list=list(input_tuple)
    
    reverse_list=tuple_list[::-1]
    
    # convert list back to a tuple
    reversed_tuple=tuple(reverse_list)
    
    return reversed_tuple


input_tuple=(1,2,3,4,5,6,7,8,9)
result=reverse_tuple_elements(input_tuple)

print('The reversed tuple is:',result)

The reversed tuple is: (9, 8, 7, 6, 5, 4, 3, 2, 1)

45. Create a tuple of the first 'n' powers of 2.

In [27]:
def powers_tuple(n):
    list_powers=[]  # Initialize list to store 2's powers
    
    for i in range(n):
        i=2**i
        list_powers.append(i)
    # Convert list to tuple    
    return tuple(list_powers)

n=int(input('enter number of powers:'))

result=powers_tuple(n)

print(f"The first '{n}' powers of two is:",result)

enter number of powers: 11

The first '11' powers of two is: (1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

46. Find the longest string in the tuple of string.

In [41]:
def find_longest_string(input_tuple):
    if not input_tuple:
        return None # return None for an empty tuple
    # Initialize with the first string
    longest_string=input_tuple[0]
    for word in input_tuple:
        if len(word)>len(longest_string):
            longest_string=word
            
    return longest_string

input_tuple=('full','stack','data','science','pro','this is the longest string')

result=find_longest_string(input_tuple)
print('The longest string in the tuple is:',result)

The longest string in the tuple is: this is the longest string

47. Find the shortest string in a tuple of string.

In [42]:
def find_shortest_string(input_tuple):
    if not input_tuple:
        return None # Return None for an empty tuple
    
    # Initialize with the first string
    
    shortest_string=input_tuple[0]
    for string in input_tuple:
        if len(string)<len(shortest_string):
            shortest_string=string
    return shortest_string

input_tuple=('full','stack','data','science','pro','master')

result=find_shortest_string(input_tuple)

print('The shortest string in a tuple is:',result)

The shortest string in a tuple is: pro

48. Create a tuple of the first 'n' triangular numbers.

In [44]:
def create_triangular_num(n):
    # Create list to store triangular numbers
    
    triangular_numbers=[]
    total=0
    
    for i in range(1,n+1):
        total+=i
        triangular_numbers.append(total)
        
    return tuple(triangular_numbers)

n=int(input('enter the number of triangular numbers:'))

result=create_triangular_num(n)
print(f"The first '{n}' triangular numbers are:",result)

enter the number of triangular numbers: 10

The first '10' triangular numbers are: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [53]:
def is_subsequence(subsequence, sequence):
    sub_len=len(subsequence)
    seq_len=len(sequence)
    
    if sub_len>seq_len:
        return False
    
    i=0 # Index for the larger tuple 'sequence'
    j=0 # Index for the smaller tuple 'subsequence'
    
    while i< seq_len:
        if sequence[i]==subsequence[j]:
            j+=1
            if j==sub_len:
                return True # Found the subsequence
        i+=1
        
    return False # Subsequence not found

# Example Usage:
main_tuple=(1,2,3,4,5,6,7,8,9)
sub_tuple=(5,6,7)

if is_subsequence(sub_tuple,main_tuple):
    print('The sub_tuple is a subsequence of the main tuple.')
    
else:
    print('The sub_tuple is not a subsequence of the main tuple.')

The sub_tuple is a subsequence of the main tuple.

50. Create a tuple of alternating 1s and 0s of length 'n'.

In [30]:
def alternating_ones_and_zeros(n):
    if n <= 0:
        return ()
    
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Example usage:
n = 10  # You can change this to the desired length
result_tuple = alternating_ones_and_zeros(n)
print(result_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem:

In [4]:
#1. Create a set with integers from 1 to 5.
set={1}
for i in range(2,6):
    set.add(i)
    
print(set)

{1, 2, 3, 4, 5}

In [5]:
#2. Add an element to a set.
set={1,2,3,4,5,6}

set.add(7)
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
#3. Remove an element from a set.
set={1,2,3,5,6,7}

set.remove(5)
print(set)

{1, 2, 3, 6, 7}

In [12]:
#4. Check if an element exists in a set.
set3={1,2,3,5,'nag','sen','pro'}

# Check if an element exists in the set

element_to_check='nag'

if element_to_check in set3:
    print(f'{element_to_check} exists in the set.')
    
else:
    print(f'{element_to_check} does not exist in the set.')

nag exists in the set.

In [13]:
#5. Find the length of a set without using the 'len()' function.
def find_length(set4):
    length=0
    
    for i in set4:
        length+=1
        
    return length

set4={1,2,3,4,5,6,7}

result=find_length(set4)
print('The length of the set is:')
print(result)

The length of the set is:
7

In [16]:
#6. Clear all elements from a set.
set9={4,5,6,7,89,0}

set9.clear()
print(set9)

set()

In [36]:
#7. Create a set of even numbers from 1 to 10.
# Use set comprehension 
even_num={num for num in range(1,11) if num%2==0}

print('The set of even numbers is:',even_num)

The set of even numbers is: {2, 4, 6, 8, 10}

In [37]:
#8. Create a set of odd numbers from 1 to 10.
# Use set comprehension

odd_num={num for num in range(1,11) if num%2!=0}

print('The set of odd numbers is:',odd_num)

The set of odd numbers is: {1, 3, 5, 7, 9}

In [1]:
#9. Find the union of two sets.
set1={1,2,3,4}
set2={3,4,5,6,7,8}
# use union method , it will give all unique elements in both sets
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
#10. Find the intersection of two sets.
set1={1,2,3,4,5,6,7}
set2={3,4,5,6,7,8,9,0}

intersection_set=set1.intersection(set2)
print(intersection_set)

{3, 4, 5, 6, 7}

In [5]:
#11. Find the difference between two sets.
set7={1,2,3,4,5,6,7}
set8={6,7,5,4,3}

set_difference=set7.difference(set8)
print(set_difference)

{1, 2}

In [14]:
#12. Check if a set is a subset of another set.
set9={1,2,3,4,5,6,7,8,9}
set1={9,5,6,1}

is_subset=set1.issubset(set9)
if is_subset:
    print('The given set is a subset of a set.')
else:
    print('The given set is not a subset of a set.')

The given set is a subset of a set.

In [18]:
#13. Check if a set is a superset of another set.
set9={1,2,3,4,5,6,7,8,9}
set1={9,5,6,1}

is_superset=set9.issuperset(set1)
if is_superset:
    print('The given set is a superset of a set.')
else:
    print('The given set is not a superset of a set.')

The given set is a superset of a set.

In [19]:
#14. Create a set from a list.
lst=[1,2,3,4,5,6]

set7=set(lst)
print(set7)

{1, 2, 3, 4, 5, 6}

In [20]:
#15. Convert a set to a list.
set7={2,3,4,5,6,7,8,8,8,8,9}

lst=list(set7)

print(lst)

[2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#16. Remove a random element from a set.
import random

my_set={1,2,4,5,6,7,8,9,88}

if my_set:
    # Use random.choice method to select random element
    removed_element=random.choice(list(my_set))
    my_set.remove(removed_element)
    print(f"Removed element: {removed_element}")
else:
    print('The set is empty.')
print(f"Updated set: {my_set}")

Removed element: 7
Updated set: {1, 2, 4, 5, 6, 8, 9, 88}

In [47]:
#17. Pop an element from a set.
set2={2,3,4,5,6,7,8}
set2.pop()
print(set2)

{3, 4, 5, 6, 7, 8}

In [57]:
#18. Check if two sets have no elements in common.
set2={1,2,3,4,5,6,7,8,9}
set8={3,4,5,99,88,77}

common=set2.intersection(set8)
if common:
    print(f"The sets have common elements: {common}")
else:
    print('The sets not have common elements.')

The sets have common elements: {3, 4, 5}

In [60]:
#19. Find the symmetric difference between two sets.
set2={1,2,3,4,5,6,7,8,9}
set8={3,4,5,99,88,77}
symmetric_diff=set2.symmetric_difference(set8)
print(symmetric_diff)

{1, 2, 99, 6, 7, 8, 9, 77, 88}

In [46]:
#20. Update a set with elements from another set.
set7={1,23,4,5,6,7,9}
set9={1,55,66,77,90}

set7.update(set9)
print('The updated set7 is:', set7)

The updated set7 is: {1, 66, 4, 5, 6, 7, 9, 77, 55, 23, 90}

In [47]:
#21. Create a set of the first 5 prime numbers.
def is_prime(n):
    if n<=1:
        return False
    elif n<=3:
        return True
    elif n%2 ==0 or n%3 ==0:
        return False
    i=5
    while i*i<=n:
        if n% i==0 or n% (i+2)==0:
            return False
        i+=6
    return True

def generate_first_n_primes(n):
    primes=set()
    num=2 # Start with the first prime number,2
    while len(primes)<n:
        if is_prime(num):
            primes.add(num)
            
        num+=1
    return primes
# Generate the first 5 prime numbers
first_5_primes=generate_first_n_primes(5)
print(first_5_primes)

{2, 3, 5, 7, 11}

In [56]:
#22. Check if two sets are identical.
set5={2,3,4,5,6,7}
set8={2,3,4,5,6,7}

if set5==set8:
    print('The sets are identical.')
else:
    print('The sets are not identical.')

The sets are identical.

In [1]:
#23. Create a frozen set.
my_set={1,2,3,4,5,6,7}
#  A frozen set is an immutable version of a set.
frozen_set=frozenset(my_set)

print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [4]:
#24. Check if a set is disjoint with another set.
set1={1,2,3,4,5}
set2={6,7,8,9,0}

if set1.isdisjoint(set2):
    print('The sets are disjoint')
else:
    print('The sets have common elements.')

The sets are disjoint

In [6]:
#25. Create a set of squares of numbers from 1 to 5.
# use set-comprehension.

square_set={i**2 for i in range(1,6)}
print(square_set)

{1, 4, 9, 16, 25}

In [7]:
#26. Filter out all even numbers from a set.
num_set={1,2,3,2,4,6,7,8,9,0,8,7,6,5,5,55,33}
# set-comprehension

odd_set={i for i in num_set if i%2!=0}

print(odd_set)

{1, 33, 3, 5, 7, 9, 55}

In [8]:
#27. Multiply all elements in a set by 2.
set3={1,2,3,4,6,7,8}

multi_set={i*2for i in set3}

print(multi_set)

{2, 4, 6, 8, 12, 14, 16}

In [19]:
#28. Create a set of random numbers.
import random

# Generate a set of 5 random integers between 1 to 100
random_set=set()
for _ in range(10):
    random_num=random.randint(1,100)
    random_set.add(random_num)
print('The random number set is:')
print(random_set)

The random number set is:
{33, 98, 40, 9, 8, 80, 19, 20, 57, 30}

In [29]:
#29. Check if a set is empty.
empty_set=set() # Create an empty set
if not empty_set:
    print('The set is empty.')
else:
    print('The set is not empty.')

The set is empty.

In [33]:
#30. Create a nested set (hint: use frozenset.)
nested_set={frozenset({1,2,3}), frozenset({5,6,7}), frozenset({1,5,8,9,0})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({0, 1, 5, 8, 9}), frozenset({5, 6, 7})}

In [38]:
#31. Remove an element from a set using the discard method.
my_set={1,2,3,4,5,6,7}

# Remove an element using the discard() method

my_set.discard(7)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [39]:
#32. Compare two sets.
set4={1,23,3,4,5,6,7,8}
set8={1,3,4,5}

# Equality
if set8==set4:
    print('set4 and set8 are equal.')
else:
    print('set4 and set8 are not equal.')
    
# Subset
if set8<=set4:
    print('The set8 is subset or equal to set4.')
else:
    print('The set8 is not subset of set4.')
# Proper subset
if set8<set4:
    print('The set8 is proper subset of set4.')
else:
    print('The set8 is not proper subset of set4.')
# superset 
if set8>=set4:
    print('The set8 is superset or equal to set4.')
else:
    print('The set8 is not superset of set4.')
# Proper superset
if set8>set4:
    print('The set8 is proper superset of set4.')
else:
    print('The set8 is not proper superset of set4.')
# Inequality

if set8!=set4:
    print('The set8 is not equal to set4.')
else:
    print('The set8 and set4 are equal.')

set4 and set8 are not equal.
The set8 is subset or equal to set4.
The set8 is proper subset of set4.
The set8 is not superset of set4.
The set8 is not proper superset of set4.
The set8 is not equal to set4.

In [40]:
#33. Create a set from a string.
string='nagsen khandare'

create_set=set(string)
print(create_set)

{'h', 'd', ' ', 'n', 'k', 'a', 'g', 'e', 's', 'r'}

In [43]:
#34. Convert a set of strings to a set of integers.
str_set={'1','2','3','4','5','6','7','8','9'}
# Use set-comprehesion
int_set=set(int(s) for s in str_set)
print(int_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
#35. Convert a set of integers to a set of string.
int_set={1,2,3,4,5,6,7,8,0}
# Use set comprehension

str_set={str(num) for num in int_set}

print(str_set)

{'7', '6', '8', '5', '0', '1', '2', '3', '4'}

In [45]:
#36. Create a set from a tuple.
tuple3=(1,2,3,'nag','sen','pr')

create_set=set(tuple3)
print(create_set)

{1, 2, 3, 'nag', 'sen', 'pr'}

In [46]:
#37. Convert a set to a tuple.
set8={1,2,3,4,'nag','sen','pro'}

create_tuple=tuple(set8)
print(create_tuple)

(1, 2, 3, 4, 'pro', 'sen', 'nag')

In [3]:
#38. Find the maximum value in a set.
set3={1,2,3,4,5,6,7,8,88,9,99}
print('The maximum value in a set:')
max(set3)

The maximum value in a set:

99

In [4]:
#39. Find the minimum value in a set.
set88={1,2,3,4,55}
print('The minimum value in a set:')
min(set88)

The minimum value in a set:

1

In [10]:
#40. Create a set from user input.
# Initialize an empty set

user_set=set()

# Ask the user for input until they press Enter without typing anything
while True:
    user_input=input('Enter an element (or press Enter to finish:')
    
    # Check if the user pressed Enter without typing anything
    if not user_input:
        break
    # Add the user input to the set 
    user_set.add(user_input)
print('The set you created:',user_set)

Enter an element (or press Enter to finish: 1
Enter an element (or press Enter to finish: 3
Enter an element (or press Enter to finish: 4
Enter an element (or press Enter to finish: 6
Enter an element (or press Enter to finish: 7
Enter an element (or press Enter to finish: 9
Enter an element (or press Enter to finish: 0
Enter an element (or press Enter to finish: 77
Enter an element (or press Enter to finish: 99
Enter an element (or press Enter to finish: nag
Enter an element (or press Enter to finish: sen
Enter an element (or press Enter to finish: data
Enter an element (or press Enter to finish: pro
Enter an element (or press Enter to finish: science
Enter an element (or press Enter to finish: analyst
Enter an element (or press Enter to finish:

The set you created: {'77', '99', '3', '1', 'data', 'science', 'pro', 'analyst', '6', '4', 'sen', '0', '7', '9', 'nag'}

In [13]:
#41. Check if the intersection of two sets is empty.
set1={1,2,3,4,5,6,7}
set2={8,9,0,11,12,14,15}

if not set1.intersection(set2):
    print('The intersection of two sets is empty.')
    
else:
    print('The intersection of two sets is not empty.')

The intersection of two sets is empty.

In [23]:
#42. Create a set of the first 5 Fibonacci numbers.

def generate_fibonacci(n):
    fibonacci_set=set()
    a,b=0,1
    for _ in range(n+1):
        fibonacci_set.add(a)
        a,b=b,a+b
    return fibonacci_set

# Generate a set of the first 5 Fobonacci numbers
fibonacci_numbers=generate_fibonacci(5)
print(fibonacci_numbers)

{0, 1, 2, 3, 5}

In [26]:
#43. Remove duplicates from a list using sets.
lst=[1,2,3,44,4,4,3,3,6,7,8,8]
list_without_duplicate=list(set(lst))
print('The list without duplicates:')
print(list_without_duplicate)

The list without duplicates:
[1, 2, 3, 4, 6, 7, 8, 44]

In [2]:
#44. Check if two sets have the same elements, regardless of their count.
set1={1,2,3,4,5}
set2={1,2,3,4,5,44,3,4,5,}

# Check if the sets have the same elements
if set1==set2:
    print('The sets have the same elements, regardless of their count.')
else:
    print('The sets do not have the same elements.')

The sets do not have the same elements.

In [6]:
#45. Create a set of the first 'n' powers of 2.
def generate_powers_of_2(n):
    powers_set=set()
    power=1
    for _ in range(n):
        powers_set.add(power)
        power*=2
    return powers_set

# Generate the first 5 powers of 2 
first_5_powers_of_2=generate_powers_of_2(5)
print(first_5_powers_of_2)

{1, 2, 4, 8, 16}

In [9]:
#46. Find the common elements between a set and a list.
my_set={1,2,3,4,5,6}
my_list=[3,4,5,6,7,8,9,0]

common_elements=my_set.intersection(my_list)
print(common_elements)

{3, 4, 5, 6}

In [1]:
#47. Create a set of the first 'n' triangular numbers.
def generate_triangular_numbers(n):
    triangular_set=set()
    triangular_number=0
    for i in  range(1,n+1):
        triangular_number+=i
        triangular_set.add(triangular_number)
    return triangular_set

# generate first 5 triangular numbers
first_5_triangular_numbers=generate_triangular_numbers(5)
print(first_5_triangular_numbers)

{1, 3, 6, 10, 15}

In [17]:
#48. Check if a set contains another set as a subset.

set3={1,2,3,4,5,6,7,8,9}
set4={2,3,5,9,1}
is_subset=set4.issubset(set3)

if is_subset:
    print('The set4 is subset of set3.')
else:
    print('The set4 is not subset of set3.')

The set4 is subset of set3.

In [3]:
#49. Create a set of alternating 1s and 0s of length 'n'.

def alternating_ones_zeros(n):
    sequence=[]
    for i in range(n):
        if i%2==0:
            sequence.append(1)
        else:
            sequence.append(0)
    return set(sequence)

n=10
# set will automatically remove the duplicates
result=alternating_ones_zeros(n)
print(result)

{0, 1}

In [4]:
#50. Merge multiple sets into one.

# Create multiple sets

set1={1,2,3,5}
set2={5,6,7}
set3={7,8,9,0}

# Merge sets using union method
merged_set=set1.union(set2,set3)
print(merged_set)

{0, 1, 2, 3, 5, 6, 7, 8, 9}